/* Main  */
html {
    width: 1180px;
}

/* Header  */

header {
    font-family: 'Inter', sans-serif;
}

#logo {
    font-family: 'Red Hat Display', sans-serif;
    font-family: 'Manrope', sans-serif;
    font-size: 26px;
    color: #1A093F;
    display: inline-block;
}

#logo-dot {
    color: #FA3263;
}

header nav {
    display: inline-block;

}

header nav ul li {
    list-style: none;
    display: inline-block;
    font-size: 16px;
}

.fa-chevron-down {
    color: #716E6D;
}

header {
    display: flex;
    justify-content: space-between;
}

.main-nav li {
    padding: 0 20px;
}

.last-item {
    padding-right: 100px;
}

.second-nav li {
    padding: 0 20px;
}

/* TODO: need to fix the padding to align the nav */

.cta-button {
    background-color: #4141A5;
    color: #ffffff;
    text-align: center;
    padding: 18px !important;
    border-radius: 10px;
}


/* Main content */

body {
    color: #1A093F;
    margin: 20px 40px;
    background-color: #F1F3FB;
}

/* Footer */